{% extends 'layouts/base.html.twig' %}

{% block title %}{{pin.titre}}{% endblock %}

{% block body %}
        <article>
            <h1>{{pin.titre}}</h1>
            <p>{{pin.description}}</p>

        </article>
        <a href="{{path('app_pins_edit', {id: pin.id})}}">Edit |</a>
        <a href="#" onclick="event.preventDefault(); confirm('Voulez-vous supprimer cette image!') &&
         document.getElementById('js-pin-delete-form').submit();"> Delete </a>
        <form id="js-pin-delete-form" action="{{path('app_pins_delete', {id: pin.id})}}" method="post" style="displaye: none;">
            <input type="hidden" name="csrf_token"  value="{{ csrf_token('pin_deletion_' ~pin.id)}}">
            <input type="hidden" name="_method" value="DELETE">
        </form>
{% endblock %}